Package: enigma2-plugin-extensions-ddrssreader
Version: 0.4
Section: misc
Priority: optional
Architecture: all
Maintainer: Lululla
Description: Show current RSS reader (c) DDamir
Source: edit by lululla
Homepage: linuxsat-support.com
OE: 2.0
License: GPLv2
